.publish_cover
    position fixed
    width 100%
    height 100%
    background rgba(29,28,27,0.97)
    z-index 200
.publish
    width 100%
    height 130px
    position fixed
    z-index 200
    bottom 112px
    display flex
    color #fff
    .demand
        flex 1
        width 95px
        height 95px
        background url("../../img/publish_btn02@2x.png") no-repeat center
        background-size 95px
        position relative
        .text
            position absolute
            left 50%
            margin-left -2em
            top 100px
    .resource
        flex 1
        width 95px
        height 95px
        background url("../../img/publish_btn01@2x.png") no-repeat center
        background-size 95px
        position relative
        .text
            position absolute
            left 50%
            margin-left -2em
            top 100px
.publish_bottom
    width 100%
    height 50px
    background-color #fff
    position fixed
    z-index 100
    bottom 0
.publish_close
    width 15px
    height 15px
    background url("../../img/publish_close_icon@2x.png") no-repeat center
    background-size 15px
    position fixed
    bottom 18px
    z-index 200
    left 50%
    margin-left -8px
.publish_none
    display none