<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/index/index.css">
	</head>
	<body style="background:#fff;">
		<header class="header header_search">
            <div class="search_box">
                <div class="search_input"><i class="icon-search"></i><span>挑好房，上小辉煌</span></div>
            </div>
            <div class="search_del">取消</div>
        </header>
        <div class="search_near">
            <span class="near_left">最近搜索</span>
            <span class="near_right">清除</span>
        </div>
        <div class="search_cells">
            <div class="search_cell">创意产业园</div>
            <div class="search_cell">陆家嘴</div>
        </div>
        <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
        <script src="../public/libs/zepto/touch.js"></script>
        <script src="../public/js/index/index.js"></script>
	</body>
</html>
