<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/info/info_detail.css">
	</head>
	<body>
		<header class="header">
            <i class="icon-back"></i>
            <span class="header_title">设置</span>
        </header>
        <div class="setting_cell">
            <span class="setting_text">接收需求</span>
            <span class="setting_img"><span class="set_move"></span></span>
        </div>
        <div class="setting_cell setting_after">
            <span class="setting_text">关于</span>
        </div>
        <div class="setting_cell setting_after">
            <span class="setting_text">清除缓存</span>
            <span class="setting_M">7.02M</span>
        </div>
        <div class="setting_quit">
            退出登录
        </div>
	</body>
</html>
