<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/info/info_detail.css">
	</head>
	<body>
		<header class="header about-title">
            <i class="icon-back"></i>
            <span class="header_title about-title">关于</span>
        </header>
        <div class="about_banner">
            <div class="about_middle"><span class="about_text">v1.0.0</span></div>
        </div>
        <div class="about_cell">电话<span class="about_right">021-68547845</span></div>
        <div class="about_cell">服务条款</div>
	</body>
</html>
