<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/order/order.css">
	</head>
	<body>
		<header class="header">
            <span class="header_cancle">取消</span>
            <span class="header_title">预约改期</span>
            <span class="header_sure">确定</span>
        </header>
        <div class="order_label"><span>预约人</span></div>
        <div class="order_info">
            <div class="order_img"></div>
            <div class="order_con">
                <div>你才是张三<span class="order_tenant">租户</span></div>
            </div>
            <div class="order_tel"></div>
        </div>
        <div class="order_label"><span>预约信息</span></div>
        <div class="order_msg">
           <div class="msg_mid">
                <div>
                    <span class="msg_title">华旭国际大厦</span>
                    <span class="msg_area"><div class="area_left">区域：黄埔-人民广场</div><div class="area_right">房型：商务中心</div></span>
                    <span class="msg_area"><div class="area_left">面积：766m<sup style="font-size:10px;">2</sup></div><div class="area_right">单价：&yen;5.5元/m<sup>2</sup>/天起</div></span>
                </div>
           </div>
        </div>
        <div class="order_label"><span>预约时间</span></div>
        <div class="order_time">
            <span>2016-08-08</span>
        </div>
        <div class="order_label"><span>预约状态</span></div>
        <div class="order_cells">
            <div class="order_cell order_after">
                <div class="order_left"><span class="order_date">08/10</span><span class="order_week">周三</span></div>
                <div class="order_right">订单成功</div>
            </div>
        </div>
        <div class="order_label"><span>更改预约时间</span></div>
        <div class="order_update">
            <span>2016/08/08</span>
        </div>
	</body>
</html>
