<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/order/order.css">
	</head>
	<body>
		<header class="header">
            <i class="icon-back"></i>
            <span class="header_title">取消预订</span>
        </header>
        <div class="order_label"><span>预约人</span></div>
        <div class="order_info">
            <div class="order_img"></div>
            <div class="order_con">
                <div>你才是张三<span class="order_tenant">租户</span></div>
            </div>
            <div class="order_tel"></div>
        </div>
        <div class="order_label"><span>预约信息</span></div>
        <div class="order_msg">
           <div class="msg_mid">
                <div>
                    <span class="msg_title">华旭国际大厦</span>
                    <span class="msg_area"><div class="area_left">区域：黄埔-人民广场</div><div class="area_right">房型：商务中心</div></span>
                    <span class="msg_area"><div class="area_left">面积：766m<sup style="font-size:10px;">2</sup></div><div class="area_right">单价：&yen;5.5元/m<sup>2</sup>/天起</div></span>
                </div>
           </div>
        </div>
        <div class="order_label"><span>预约时间</span></div>
        <div class="order_time">
            <span>2016-08-08</span>
        </div>
        <div class="order_label"><span>取消原因</span><span class="order_once">（至少选择一项）</span></div>
        <div class="cancle_reasons">
            <div>
                <div class="cancle_reason">
                    <div class="order_box"></div><span class="cancle_text">客户不满意</span>
                </div>
                <div class="cancle_reason">
                    <div class="order_box"></div><span class="cancle_text">已经联系客户，预约取消</span>
                </div>
                <div class="cancle_reason">
                    <div class="order_box order_active"></div><span class="cancle_text">其他原因</span>
                </div>
                <textarea placeholder="原因" class="cancle_input"></textarea>
            </div>
        </div>
        <button class="order_btn">确定</button>
	</body>
</html>
