<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/order/order.css">
	</head>
	<body>
        <div class="cover"></div>
        <div class="order_out">
            <div class="make_msg">预约看房成功</div>
            <div class="order_choose">
                <div class="order_no">返回</div>
                <div class="order_sure">查看预约详情</div>
            </div>
        </div>
	</body>
</html>
