<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/order/order.css">
	</head>
	<body>
        <div class="cover"></div>
		<header class="header">
            <span class="header_cancle">取消</span>
            <span class="header_title">上传合同书</span>
            <span class="header_sure">上传</span>
        </header>
        <div class="upload_banner">
            <div class="upload_text">请按照要求添加照片</div>
            <div class="upload_cell">
                <div class="contract_img"></div>
            </div>
        </div>
        <div class="order_out">
            <div class="make_msg">您确定要取消本次上传？</div>
            <div class="order_choose">
                <div class="order_no">取消</div>
                <div class="order_sure">确认</div>
            </div>
        </div>
	</body>
</html>
