<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/component/component.css">
	</head>
	<body>
        <div class="cover"></div>
		<header class="header">
            <span class="header_cancle">取消</span>
            <span class="header_title">发布房源</span>
            <span class="header_sure">发布</span>            
        </header>
        <div class="demand_banner">
            <input type="text" class="demand_input" placeholder=" 周论">    
            <input type="text" class="demand_input" placeholder=" 18956899456">
            <textarea class="demand_info">描述一下您的需求，比如黄埔100-200平方米,5-6元/平方米/天，环境好点，底层，临近地铁。</textarea>
        </div>
        <div class="order_out">
            <div class="make_msg">您确定要退出此次发布？</div>
            <div class="order_choose">
                <div class="order_no">取消</div>
                <div class="order_sure">确认</div>
            </div>
        </div>
	</body>
    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="../public/libs/zepto/touch.js"></script>
    <script src="../public/js/component/component.js"></script>
</html>
