@import '../head.styl'

p
    padding 0
    margin 0
.header
    position absolute
    top 0
    width 100%
    z-index 5
    color #fff
    background-color transparent
    .icon-back
        width 65px
        padding-left 15px
        background transparent url("../../img/nav_icon_down@2x.png") no-repeat left 50px center 
        background-size 12px 6px
        line-height 50px
        font-style normal
    .header_title
        padding-right 80px

.search_box
    position absolute
    top 50px
    right 15px
    left 15px
    z-index 5
    
    .search_input
        height 30px
        border-radius 3px
        background-color #f1f1f1
        line-height 30px
        text-align center
        color #999
        .icon-search
            display inline-block
            width 30px
            height 30px
            background url("../../img/nav_icon_search@2x.png") no-repeat center
            background-size 16px
            vertical-align bottom

.header_up
    border-bottom none
    background-color #3c3c3b
    position relative
    .search_box 
        position absolute
        top 10px
        left 50%
        margin-left -106px
        width 213px
        height 33px
.header_search
    position relative
    .search_box 
        position absolute
        top 10px
        width 80%
        height 33px
        
        .search_input
            text-align left
            padding-left 5px
    .search_del
        position absolute
        right 0px
        top 10px
        height 33px
        width 15%
        line-height 33px
        color #ea5404
        text-align center
        font-size 14px
.slider_box
    width 100%
    height 320px
    overflow hidden
    .slider_container
        width 300%
        transition all .5s
        transform translateX(0)
        &:after
            content ''
            display block
            visibility hidden
            height 0
            clear both
.slider_block
    float left
    width 375px
    height 320px
    background url("../../img/banner_img_green@2x.png") no-repeat center
    background-size 100%
    &:nth-child(2)
        background url("../../img/banner_img_green@2x.png") no-repeat center
        background-size 100%
    &:nth-child(3)
        background url("../../img/banner_img_green@2x.png") no-repeat center
        background-size 100%
    &:nth-child(4)
        background url("../../img/banner_img_green@2x.png") no-repeat center
        background-size 100%
.point_box
    position relative
    top -60px
    height 16px
    z-index 5
    text-align center
    .point_block
        width 16px
        height 16px
        display inline-block
        background url("../../img/banner_icon_point_nor@2x.png") no-repeat center
        background-size 10px
        &.active
            background url("../../img/banner_icon_point_press@2x.png") no-repeat center
            background-size 10px
.query_box
    display flex
    width 100%
    height 45px    
    margin-top 10px
    background #fff
    border-bottom 1px solid #d6d7dc
    .query_block
        flex 1
        position relative
        &:after
            content ''
            position absolute
            right 0
            z-index 30
            top 14px
            display block
            height 18px
            width 1px
            background-color #d6d7dc
        .text
            margin-top 8px
            display block
            height 20px
            text-align center
            line-height 20px
            font-size 14px
            color #646464
        .icon
            display block
            height 15px
            background url("../../img/content_icon02_nor@2x.png") no-repeat center
            background-size 10%
    .query_price
        width 50px
        height 50px
        background url("../../img/content_icon01_nor@2x.png") no-repeat top 10px center
        background-size 20px
.query_up
    margin-top 0
.block_box
    padding 15px
    background #fff
    display flex
    .img_box
        flex 2
    .info_box
        flex 5

.down-box
    display none

.block_box
    display flex
    width 100%
    background #fff
    height 115px
    padding 0
    .img_box
        flex 1
        background url("../../img/content_img_list@2x.png") no-repeat left center
        background-size 129px 90px
        margin-left 10px
        margin-top 10px
        margin-bottom 10px
    .info_box
        flex 2
        padding-top 10px
    .info-title
        margin 5px 10px
        font-size 18px
        position relative
    .index_img
        &:after
            content ''
            position absolute
            top 50%
            right 10px
            margin-top -15px
            width 16px
            height 30px
            background url("../../img/collect_icon_nor@2x.png") no-repeat center
            background-size 100%
    .index_img_active
        &:after
            content ''
            position absolute
            top 50%
            right 10px
            margin-top -15px
            width 16px
            height 30px
            background url("../../img/collect_icon_press@2x.png") no-repeat center
            background-size 100%
    .info-address
        margin 0 10px
        font-size 14px
        color #979797
    .info-tag_box
        color #ea5404
        font-size 12px
        margin 8px 10px        
        .info-tag_text
            border 1px solid #ea5404
            border-radius 5px
            padding 3px 8px
            background-color #fff
    .info-price
        color #979797
        font-size 13px
        position relative
        margin 0 10px
        .info_money
            color #ea5404
            font-size 16px
            font-style normal
        .index_right
            position absolute
            right 0
            font-size 13px
            color #979797
.block_box_active
    margin-top 10px
.back_top
    position fixed
    background url("../../img/content_btn_back@2x.png") no-repeat center
    background-size 100%
    height 48px
    width 48px
    bottom 92px
    right 22px

.bottom-cells
    width 100%
    height 55px
    background-color #fff
    position fixed
    bottom 0
    margin 0
    padding 0
    list-style none
    display flex
    font-size 14px
    .bottom-cell
        flex 1
        width 20%
        text-align center
        color #b4b4b4
        position relative
        .bottom-text
            line-height 90px
        .bottom-super
            width 15px
            height 15px
            border-radius 60%
            font-size 10px
            background-color #ec461f
            position absolute
            top 6px
            right 30%
            line-height 15px
            color #fff
            text-align center
    .bottom-index
        background url("../../img/bottom_press_icon04@2x.png") no-repeat top 10px center
        background-size 25px
    .bottom-pre
        background url("../../img/bottom_nor_icon03@2x.png") no-repeat top 10px center
        background-size 25px
    .bottom-more
        background url("../../img/bottom_icon05@2x.png") no-repeat center
        background-size 45px 37px
    .bottom-info
        background url("../../img/bottom_nor_icon02@2x.png") no-repeat top 10px center
        background-size 25px
    .bottom-me
        background url("../../img/bottom_nor_icon01@2x.png") no-repeat top 10px center
        background-size 25px
.search_near
    width 100%
    height 35px
    line-height 35px
    background-color #efeff4
    color #707071
    font-size 14px
    position relative
    .near_left
        margin-left 25px
    .near_right
        font-size 12px
        position absolute
        right 10px

.search_cells
    width 100%
    color #323232
    font-size 14px
    .search_cell
        height 34px
        line-height 34px
        margin-left 25px
        position relative
        &:after
            content ''
            position absolute
            display block
            height 1px
            width 100%
            background-color #d6d7dc
            z-index 30
.input_cells
    width 100%
    color #323232
    font-size 14px
    .input_cell
        height 45px
        line-height 45px
        margin-left 25px
        position relative
        &:after
            content ''
            position absolute
            display block
            height 1px
            width 100%
            background-color #d6d7dc
            z-index 30
        .info_add
            font-size 13px
            position absolute
        .input_info
            position absolute
            bottom -10px
            font-size 12px
            left 0
            
.input_box
    position relative
    &:after
        content ''
        position absolute
        display block
        width 15px
        height 15px
        border-radius 50%
        background url("../../img/nav_icon_delete@2x.png") no-repeat center
        background-size 100%
        top 7px
        right 8px
