* {
  outline: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: #efefef;
}
.header {
  height: 44px;
  background-color: #fff;
  line-height: 44px;
}
.icon-back {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 44px;
  height: 44px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
.header-title {
  display: inline-block;
  width: 100%;
  color: #ed692b;
  text-align: center;
}
.form-list {
  width: 100%;
  margin-top: 22px;
  background: #fff;
}
.form-cell {
  position: relative;
  display: flex;
  height: 40px;
  line-height: 40px;
}
.form-cell-name {
  display: inline-block;
  width: 50px;
  padding-left: 40px;
  background: url("../../img/content_ID_icon@2x.png") no-repeat left 10px center;
  background-size: 24% 50%;
}
.btn_code {
  width: 6rem;
}
.cell-code {
  width: 65px;
  background: url("../../img/content_verify_icon@2x.png") no-repeat left 14px center;
  background-size: 15% 50%;
}
.cell-passwd {
  background: url("../../img/content_password_icon@2x.png") no-repeat left 11px center;
  background-size: 20% 50%;
}
.cell-status {
  background: url("../../img/content_position_icon@2x.png") no-repeat left 10px center;
  background-size: 24% 50%;
}
.form-cell-input {
  flex: 1;
  border: none;
}
.cell-per {
  position: absolute;
  top: 50%;
  margin-top: 15px;
  right: 35px;
}
.cell-per:after {
  content: '';
  display: block;
  width: 16px;
  height: 30px;
  background: url("../../img/content_icon02_nor@2x.png") no-repeat right center;
  background-size: 80%;
}
.btn_pin {
  width: 85px;
  height: 28px;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 25px;
  font-size: 13px;
  background: #ed692b;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  margin-top: 6px;
}
.btn_get {
  width: 85px;
  height: 28px;
  margin: 0;
  padding: 0 6px;
  border: none;
  line-height: 25px;
  font-size: 13px;
  background: #c7c7c7;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  margin-top: 6px;
}
.fci-input {
  height: 38px;
  margin: 0;
  padding: 0;
  border: none;
}
.btn_code {
  width: 6.8rem;
  height: 14px;
  margin-top: 9px;
  padding: 4px 6px;
  border-radius: 5px;
  background-color: #ed692b;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 10px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 95%;
  background-color: #efefef;
}
.fic-box {
  display: flex;
}
.input-box {
  display: block;
  flex: 1;
}
.bt_box {
  display: flex;
  height: 40px;
  margin-top: 45px;
  padding: 0 15px;
}
.bt_box .btn_login {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #c7c7c7;
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
}
.bt_box .btn_agent {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ed692b;
  color: #fff;
  font-size: 1.1rem;
  line-height: 40px;
}
.bt_box .btn_reg {
  font-size: 13px;
  margin: 0 auto;
}
.bt_box .btn_reg span {
  text-decoration: underline;
  color: #ed692b;
}
.bt-reg {
  padding-left: 10px;
  color: #ed692b;
  flex: 1;
}
.bt-passwd {
  padding-right: 10px;
  color: #646464;
}
.must {
  font-size: 15px;
  padding: 10px;
  color: #b4b4b4;
}
.agent-form {
  width: 100%;
  background: #fff;
}
.agent-form .add-header {
  padding-top: 10px;
  height: 75px;
  width: 129px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
}
.agent-form .add-header .agent-header {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #878787;
  font-size: 13px;
  color: #fff;
  line-height: 65px;
}
.agent-form .agent-input {
  height: 170px;
  width: 232px;
  margin: 0 auto;
}
.agent-form .agent-input input {
  height: 30px;
  width: 230px;
  background-color: #efeff4;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
.agent-form .image-block {
  padding-bottom: 10px;
}
.agent-form .image-block div {
  width: 100px;
  height: 65px;
  margin: 0 auto;
  border-radius: 5px;
  background: #878787;
  color: #f8f8f8;
  text-align: center;
  line-height: 65px;
  font-size: 13px;
}
.agent-form .sub-input {
  height: 85px;
  width: 232px;
  margin: 0 auto;
}
.agent-form .sub-input input {
  height: 30px;
  width: 230px;
  background-color: #efeff4;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
}
.agent-cell {
  width: 100%;
  background: #fff;
}
.agent-cell .agent-cell-input {
  height: 50px;
  width: 232px;
  margin: 0 auto;
}
.agent-cell .agent-cell-input input {
  height: 30px;
  width: 230px;
  background-color: #efeff4;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  margin-top: 10px;
}
.agent-cell .image-block {
  display: flex;
}
.agent-cell .image-block div {
  flex: 1;
  margin: 10px 10px;
  width: 100%;
  height: 65px;
  border-radius: 5px;
  background: #878787;
  color: #f8f8f8;
  text-align: center;
  line-height: 65px;
  font-size: 13px;
  margin-bottom: 10px;
}
.broker-cell {
  width: 100%;
  background: #fff;
  padding: 10px 0;
}
.broker-cell .image-block div {
  width: 100px;
  height: 65px;
  margin: 0 auto;
  border-radius: 5px;
  background: #878787;
  color: #f8f8f8;
  text-align: center;
  line-height: 65px;
  font-size: 13px;
}
