<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/login/login.css">
	</head>
	<body>
		<div class="finish_cover"></div>
        <div class="finish_banner">
            <div class="finish_msg">注册完成，等待后天确认</div>
            <div class="finish_ok">确认</div>
        </div>
	</body>
</html>
