<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/login/login.css">
	</head>
	<body>
		<header class="header">
            <i class="icon-back"></i>
            <span class="header-title">转租人</span>
        </header>
        <p class="must">必填项</p>
        <div class="agent-form">
            <div class="add-header">
                <div class="agent-header">
                    <p>添加头像</p>
                </div>
            </div>
            <div class="sub-input">
                <input type="text" placeholder="姓名"><br/>
                <input type="text" placeholder="联系方式"><br/>
            </div>
            <div class="image-block">
                <div>房屋租赁合同</div>
            </div>
        </div>
        <p class="must">选填项</p>
        <div class="broker-cell">
            <div class="image-block">
                <div>名片正面</div>
            </div>
        </div>
        <div class="bt_box">
            <button class="btn_agent">完成</button>
        </div>
	</body>
</html>
