@import '../order_head.styl'

*
    padding 0
    margin 0
.order_label
    width 100%
    height 33px
    color #b4b4b4
    line-height 33px
    font-size 14px
    span
        padding-left 12px
    .order_once
        font-size 12px
.order_info
    width 100%
    height 54px
    background-color #fff
    border-bottom 1px solid #d6d7dc
    position relative
    .order_img
        position absolute
        width 40px
        height 40px
        top 50%
        margin-top -20px
        left 12px
        border-radius 50%
        background url("../../img/content_img_user@2x.png") no-repeat center
        background-size cover
    .order_con
        padding-top 10px
        padding-left 64px
        color #323232
        font-size 14px
        div
            position relative
            .order_tenant
                font-size 13px
                position absolute
                left 0
                top 20px
                color #646464
    .order_tel
        position absolute
        right 0
        top 0
        width 62px
        height 100%
        background url("../../img/content_icon_call@2x.png") no-repeat center
        background-size 31%
        &:after
        &:before
            content ''
            width 1px
            height 30px
            background-color #e1e1e1
            position absolute
            top 11px
.order_msg
    width 100%
    height 65px
    background-color #fff
    border-bottom 1px solid #d6d7dc
    .msg_mid
        width 100%
        padding-top 7px
        div
            margin-left 12px
            .msg_title
                font-size 14px
                color #323232
            .msg_area
                color #646464
                font-size 13px
                display flex
                width 100%
                margin-top 3px
                .area_left
                    margin 0
                    flex 1
                .area_right
                    flex 1
.order_time
    width 100%
    height 45px
    background-color #fff
    span
        margin-left 12px
        line-height 45px
        color #323232
.order_cells
    width 100%
    color #323232
    background-color #fff
    border-bottom 1px solid #d6d7dc
    .order_cell
        height 45px
        padding 0 10px
        display flex
        position relative
        .order_left
            flex 1
            .order_week
                position absolute
                font-size 12px
                bottom 6px
                left 20px
            .order_date
                position absolute
                top 8px
        .order_right
            flex 1
            text-align right
            line-height 45px
    .order_after
        &:after
            content ''
            height 1px
            position absolute
            left 12px
            right 0
            top 45px
            background-color #e1e1e1
.order_footer
    width 100%
    height 50px
    line-height 50px
    text-align center
    color #ea5404
    background-color #fff
    position fixed
    bottom 0
    display flex
    border-top 1px solid #d6d7dc
    div
        flex 1
    .order_line
        border-right 1px solid #e1e1e1
.cancle_reasons
    width 100%
    background-color #fff
    border-bottom 1px solid #d6d7dc
    div
        margin-left 6px
        .cancle_reason
            position relative
            height 30px
            margin 0
            .order_box
                width 18px
                height 18px
                position absolute
                top 50%
                margin-top -9px
                border-radius 5px
                border 1px solid #b4b4b4
            .cancle_text
                position absolute
                top 0
                left 32px
                line-height 30px
            .order_active
                border 1px solid #ea5404
                &:before
                    content ''
                    width 17px
                    height 17px
                    position absolute
                    background url("../../img/content_ok_icon_right@2x.png") no-repeat center
                    background-size 100%
        .cancle_input
            height 74px
            width 350px
            margin-top 3px
            background-color #efeff4
            border 1px solid #e1e1e1
            border-radius 4px
            margin-left 3px
            resize none
            margin-bottom 8px
.order_btn
    width 350px
    height 45px
    background-color #ea5404
    border none
    border-radius 5px
    margin-top 45px
    color #fff
    position absolute
    left 50%
    margin-left -175px
    font-weight 500
    font-size 20px
.order_update
    width 100%
    height 45px
    line-height 45px
    text-align right
    background-color #fff
    border-bottom 1px solid #d6d7dc
    color #b4b4b4
    span
        margin-right 10px
.upload_banner
    width 100%
    .upload_text
        margin-top 70px
        text-align center
        font-size 13px
        color #b8b8b9
    .upload_cell
        width 100%
        padding 13px 0
        color #fff
        text-align center
        line-height 195px
        .contract
            width 220px
            height 144px
            background #878787
            border-radius 5px
            margin 0 auto
        .contract_img
            width 220px
            height 310px
            background #fff
            border-radius 5px
            margin 0 auto
    .upload_add
        position relative
        &:after
            content ''
            position absolute
            width 50px
            height 50px
            left 50%
            margin-left -25px
            top 45px
            background url("../../img/content_icon_plus@2x.png") no-repeat center
            background-size 100%
.subscribe_cell
    width 100%
    height 116px
    background #fff
    margin-top 10px
    border-bottom 1px solid #d6d7dc
    display flex
    position relative
    color #646464
    .house_img
        flex 1
        width 100px
        height 70px
        background url("../../img/content_img@2x.png") no-repeat left center
        background-size 100%
        margin-left 12px
        margin-top 12px
    .house_info
        flex 2
        padding 12px
        position relative
        .house_top
            display flex
            padding-bottom 3px
            .house_title
                flex 1
                font-size 13px
            .house_date
                flex 1
                text-align right
                position relative
                font-size 12px
                color #b4b4b4
                &:before
                &after
                    content ''
                    width 13px
                    height 13px
                    position absolute
                    right 73px
                    background url("../../img/content_icon@2x.png") no-repeat center
                    background-size 100%
        .house_tro
            font-size 13px
            line-height 18px
            text-indent 1em
        .house_time
            font-size 12px
            color #ff8a00
        .btn_receive
            height 22px
            width 54px
            background #ea5404
            border none
            border-radius 5px
            color #fff
            font-size 12px
            right 12px
            bottom 12px
            position absolute
        .house_received
            font-size 12px
            position absolute
            bottom 12px
            right 12px
.bottom-cells
    width 100%
    height 55px
    background-color #fff
    position fixed
    bottom 0
    margin 0
    padding 0
    list-style none
    display flex
    font-size 14px
    .bottom-cell
        flex 1
        width 20%
        text-align center
        color #b4b4b4
        position relative
        .bottom-text
            line-height 90px
        .bottom-super
            width 15px
            height 15px
            border-radius 60%
            font-size 10px
            background-color #ec461f
            position absolute
            top 6px
            right 30%
            line-height 15px
            color #fff
            text-align center
    .bottom-index
        background url("../../img/bottom_nor_icon04@2x.png") no-repeat top 10px center
        background-size 25px
    .bottom-pre
        background url("../../img/bottom_press_icon03@2x.png") no-repeat top 10px center
        background-size 25px
    .bottom-more
        background url("../../img/bottom_icon05@2x.png") no-repeat center
        background-size 45px 37px
    .bottom-info
        background url("../../img/bottom_nor_icon02@2x.png") no-repeat top 10px center
        background-size 25px
    .bottom-me
        background url("../../img/bottom_nor_icon01@2x.png") no-repeat top 10px center
        background-size 25px

.publish
    width 100%
    height 130px
    position fixed
    z-index 10
    bottom 112px
    display flex
    color #fff
    .demand
        flex 1
        width 95px
        height 95px
        background url("../../img/publish_btn02@2x.png") no-repeat center
        background-size 95px
        position relative
        .text
            position absolute
            left 50%
            margin-left -2em
            top 100px
    .resource
        flex 1
        width 95px
        height 95px
        background url("../../img/publish_btn01@2x.png") no-repeat center
        background-size 95px
        position relative
        .text
            position absolute
            left 50%
            margin-left -2em
            top 100px
.publish_bottom
    width 100%
    height 50px
    background-color #fff
    position fixed
    z-index 5
    bottom 0
.publish_close
    width 15px
    height 15px
    background url("../../img/publish_close_icon@2x.png") no-repeat center
    background-size 15px
    position fixed
    bottom 18px
    z-index 10
    left 50%
    margin-left -8px