<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,
        maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>项目名 - 公司名</title>
        <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="../public/css/msg/msg_demand.css">
	</head>
	<body>
		<header class="tab_box">
            <ul class="tab_bar">
                <li class="tab_bar-cell">消息</li>
                <li class="tab_bar-cell active">通知</li>
                <li class="tab_bar-cell info-super">需求<span class="text-super">3</span></li>
            </ul>
        </header>
        <article class="demand_cells">
            <section class="demand_cell">
                <header class="demand-title notice-title"><span class="d-t-name">房源维护提示</span><em class="text-time">08/04/12:12</em></header>
                <p class="demand-info notice-info">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
                <p class="notice-add">地址：徐汇-龙华 科技大厦</p>
            </section>
            <section class="demand_cell">
                <header class="demand-title notice-title"><span class="d-t-name">房源维护提示</span><em class="text-time">08/04/12:12</em></header>
                <p class="demand-info notice-info">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
                <p class="notice-add">地址：徐汇-龙华 科技大厦</p>
            </section>
        </article>
        <footer>
            <ul class="bottom-cells">
                <li class="bottom-cell bottom-index"><span class="bottom-text">首页</span></li>
                <li class="bottom-cell bottom-pre"><span class="bottom-text">预约</span></li>
                <li class="bottom-cell bottom-more"></li>
                <li class="bottom-cell bottom-info"><span class="bottom-text">信息<span class="bottom-super">3</span></span></li>
                <li class="bottom-cell bottom-me"><span class="bottom-text">我</span></li>
            </ul>
        </footer>
	</body>
</html>
