.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  color: #fff;
  background-color: transparent;
}
.header .icon-back {
  width: 65px;
  padding-left: 15px;
  background: transparent url("../../img/nav_icon_down@2x.png") no-repeat left 50px center;
  background-size: 12px 6px;
  line-height: 50px;
  font-style: normal;
}
.header .header_title {
  padding-right: 80px;
}
.header_search {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 45px;
}
.header_search .search_box {
  position: absolute;
  width: 73.3%;
  top: -6px;
}
.header_search .search_box .search_input {
  text-align: left;
  background-color: #f1f1f1;
  border: none;
  margin-left: 0;
  height: 33px;
  border-radius: 0 5px 5px 0;
}
.header_search .search_box .icon-search {
  margin-left: 15px;
  width: 6.7%;
  display: inline-block;
  width: 30px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  background: #f1f1f1 url("../../img/nav_icon_search@2x.png") no-repeat center;
  background-size: 16px;
  vertical-align: bottom;
}
.header_search .search_del {
  position: absolute;
  right: 0px;
  top: 10px;
  height: 33px;
  width: 25%;
  line-height: 33px;
  color: #ea5404;
  text-align: center;
  font-size: 14px;
}
.search_near {
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #707071;
  font-size: 14px;
  position: relative;
}
.search_near .near_left {
  margin-left: 25px;
}
.search_near .near_right {
  font-size: 12px;
  position: absolute;
  right: 10px;
}
.search_cells {
  width: 100%;
  color: #323232;
  font-size: 14px;
  background: #fff;
  border-bottom: 1px solid #d6d7dc;
}
.search_cells .search_cell {
  height: 34px;
  line-height: 34px;
  margin-left: 25px;
  position: relative;
}
.search_cells .search_cell:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #d6d7dc;
  z-index: 30;
}
.search_cells .search_cell:last-child:after {
  display: none;
}
